body {
    background-color: black;
    color: white;
}

.gallery {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.gallery img {
    max-width: 780px; 
    height: auto;
    max-height: 500px;
    margin-bottom: 10px;
}

.quiz {
    margin: 20px;
}